.dashboard header{
  text-align:center
}

.dashboard section{
  text-align:center
}

.dashboard section textarea {
  resize: none;
}
.dashboard section .txtResult {
  width: 300px;
}

.dashboard .btnExecute,.dashboard .btnReset{
  margin-top: 15px;
  height: 30px;
  width: 100px;
}

.dashboard ul li {
  text-align: left;
}

@media (max-width: 800px) {
  .dashboard ul li {
    margin-left: 0%;
  }
}

@media (min-width: 801px) {
  .dashboard ul li {
    margin-left: 10%;
  }
}

@media (min-width: 1000px) {
  .dashboard ul li {
    margin-left: 20%;
  }
}
